root = true

[*.{py,txt,editorconfig}]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h}]
indent_style = tab
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

[{CMakeLists.txt,*.cmake}]
indent_size = 2
