name: Build

on: [push, pull_request]

jobs:
  build-current-toolchain:
    name: 'Current ${{ matrix.toolchain.name }}'
    runs-on: windows-latest
    defaults:
      run:
        shell: ${{ matrix.toolchain.shell }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
        - { name: 'MSVC',           shell: 'sh',        setup-cmake: true, setup-ninja: true, setup-msvc: true }
        - { name: 'msys2 mingw32',  shell: 'msys2 {0}', setup-msys2: true }

    steps:
      - name: Set up MSYS2
        if: matrix.toolchain.setup-msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw32
          install: >-
            mingw-w64-i686-cc
            mingw-w64-i686-cmake
            mingw-w64-i686-ninja

      - name: Setup cmake
        if: matrix.toolchain.setup-cmake
        uses: jwlawson/actions-setup-cmake@v1.13

      - name: Setup ninja
        if: matrix.toolchain.setup-ninja
        uses: ashutoshvarma/setup-ninja@master

      - name: Setup vcvars
        if: matrix.toolchain.setup-msvc
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64_x86  # Use the 64-bit x64-native cross tools to build 32-bit x86 code

      - uses: actions/checkout@v3

      - name: Build
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -GNinja -Werror=dev
          cmake --build build

  build:
    name: 'MSVC 4.20'
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/checkout@v3
      with:
        repository: 'itsmattkc/msvc420'
        path: msvc420

    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.13
      with:
        # Use minimum supported version
        cmake-version: '3.13.x'

    - name: Patch MSVC 4.2
      run: |
        python tools/patch_c2.py msvc420/bin/C2.EXE

    - name: Build
      shell: cmd
      run: |
        call .\msvc420\bin\VCVARS32.BAT x86
        cmake -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -G "NMake Makefiles"
        cmake --build build

    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: Win32
        path: |
          build/ISLE.EXE
          build/ISLE.PDB
          build/LEGO1.DLL
          build/LEGO1.PDB

  compare:
    name: 'Compare with master'
    needs: build
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@master

    - uses: actions/download-artifact@master
      with:
       name: Win32
       path: build

    - name: Restore cached original binaries
      id: cache-original-binaries
      uses: actions/cache/restore@v3
      with:
        path: legobin
        key: legobin

    - name: Download original island binares
      if: ${{ !steps.cache-original-binaries.outputs.cache-hit }}
      run: |
        C:\msys64\usr\bin\wget.exe https://legoisland.org/download/ISLE.EXE --directory-prefix=legobin
        C:\msys64\usr\bin\wget.exe https://legoisland.org/download/LEGO1.DLL --directory-prefix=legobin

    - name: Cache original binaries
      if: ${{ !steps.cache-original-binaries.outputs.cache-hit }}
      uses: actions/cache/save@v3
      with:
        path: legobin
        key: legobin

    - name: Install python packages
      shell: bash
      run: |
        pip install -r tools/requirements.txt

    - name: Summarize Accuracy
      shell: bash
      run: |
        python3 tools/reccmp/reccmp.py -S ISLEPROGRESS.SVG --svg-icon tools/reccmp/isle.png -H ISLEPROGRESS.HTML legobin/ISLE.EXE build/ISLE.EXE build/ISLE.PDB . | tee ISLEPROGRESS.TXT
        python3 tools/reccmp/reccmp.py -S LEGO1PROGRESS.SVG -T 4252 --svg-icon tools/reccmp/lego1.png -H LEGO1PROGRESS.HTML legobin/LEGO1.DLL build/LEGO1.DLL build/LEGO1.PDB . | tee LEGO1PROGRESS.TXT

    - name: Compare Accuracy With Current Master
      shell: bash
      run: |
        # Compare with current master
        curl -fLSs -o ISLEPROGRESS-OLD.TXT https://github.com/isledecomp/isle/releases/download/continuous/ISLEPROGRESS.TXT
        curl -fLSs -o LEGO1PROGRESS-OLD.TXT https://github.com/isledecomp/isle/releases/download/continuous/LEGO1PROGRESS.TXT

        diff -u0 ISLEPROGRESS-OLD.TXT ISLEPROGRESS.TXT || true
        diff -u0 LEGO1PROGRESS-OLD.TXT LEGO1PROGRESS.TXT || true

    - name: Test Exports
      shell: bash
      run: |
        python3 tools/verexp/verexp.py legobin/LEGO1.DLL build/LEGO1.DLL

    - name: Check Vtables
      shell: bash
      run: |
        python3 tools/vtable/vtable.py legobin/ISLE.EXE build/ISLE.EXE build/ISLE.PDB .
        python3 tools/vtable/vtable.py legobin/LEGO1.DLL build/LEGO1.DLL build/LEGO1.PDB .

    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: Accuracy Report
        path: |
          ISLEPROGRESS.*
          LEGO1PROGRESS.*

  upload:
    name: 'Upload artifacts'
    needs: [build, compare]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository == 'isledecomp/isle' }}
    steps:
    - uses: actions/checkout@v3
      with:
        repository: 'probonopd/uploadtool'

    - uses: actions/download-artifact@master
      with:
       name: Win32
       path: build

    - uses: actions/download-artifact@master
      with:
        name: Accuracy Report

    - name: Upload Continuous Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        UPLOAD_KEY: ${{ secrets.UPLOAD_KEY }}
      run: |
        ./upload.sh \
          build/ISLE.EXE \
          build/LEGO1.DLL \
          ISLEPROGRESS.* \
          LEGO1PROGRESS.*

        curl -X POST -F key=$UPLOAD_KEY -F 'file=@ISLEPROGRESS.SVG' https://legoisland.org/progress/
        curl -X POST -F key=$UPLOAD_KEY -F 'file=@LEGO1PROGRESS.SVG' https://legoisland.org/progress/
