name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/checkout@v3
      with:
        repository: 'itsmattkc/msvc420'
        path: msvc420

    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.13
      with:
        # Use minimum supported version
        cmake-version: '3.13.x'

    - name: Patch MSVC 4.2
      run: |
        python tools/patch_c2.py msvc420/bin/C2.EXE

    - name: Build
      shell: cmd
      run: |
        call .\msvc420\bin\VCVARS32.BAT x86
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -G "NMake Makefiles"
        cmake --build .

    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: Win32
        path: |
          build/ISLE.EXE
          build/ISLE.PDB
          build/LEGO1.DLL
          build/LEGO1.PDB

  compare:
    needs: build
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@master

    - uses: actions/download-artifact@master
      with:
       name: Win32
       path: build

    - name: Restore cached original binaries
      id: cache-original-binaries
      uses: actions/cache/restore@v3
      with:
        path: legobin
        key: legobin

    - name: Download original island binares
      if: ${{ !steps.cache-original-binaries.outputs.cache-hit }}
      run: |
        C:\msys64\usr\bin\wget.exe https://legoisland.org/download/ISLE.EXE --directory-prefix=legobin
        C:\msys64\usr\bin\wget.exe https://legoisland.org/download/LEGO1.DLL --directory-prefix=legobin

    - name: Cache original binaries
      if: ${{ !steps.cache-original-binaries.outputs.cache-hit }}
      uses: actions/cache/save@v3
      with:
        path: legobin
        key: legobin

    - name: Install python packages
      shell: bash
      run: |
        pip install -r tools/requirements.txt

    - name: Summarize Accuracy
      shell: bash
      run: |
        python3 tools/reccmp/reccmp.py -S ISLEPROGRESS.SVG --svg-icon tools/reccmp/isle.png -H ISLEPROGRESS.HTML legobin/ISLE.EXE build/ISLE.EXE build/ISLE.PDB . | tee ISLEPROGRESS.TXT
        python3 tools/reccmp/reccmp.py -S LEGO1PROGRESS.SVG -T 4252 --svg-icon tools/reccmp/lego1.png -H LEGO1PROGRESS.HTML legobin/LEGO1.DLL build/LEGO1.DLL build/LEGO1.PDB . | tee LEGO1PROGRESS.TXT

    - name: Compare Accuracy With Current Master
      shell: bash
      run: |
        # Compare with current master
        curl -fLSs -o ISLEPROGRESS-OLD.TXT https://github.com/isledecomp/isle/releases/download/continuous/ISLEPROGRESS.TXT
        curl -fLSs -o LEGO1PROGRESS-OLD.TXT https://github.com/isledecomp/isle/releases/download/continuous/LEGO1PROGRESS.TXT

        diff -u0 ISLEPROGRESS-OLD.TXT ISLEPROGRESS.TXT || true
        diff -u0 LEGO1PROGRESS-OLD.TXT LEGO1PROGRESS.TXT || true

    - name: Test Exports
      shell: bash
      run: |
        python3 tools/verexp/verexp.py legobin/LEGO1.DLL build/LEGO1.DLL

    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: Accuracy Report
        path: |
          ISLEPROGRESS.*
          LEGO1PROGRESS.*

  upload:
    needs: [build, compare]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository == 'isledecomp/isle' }}
    steps:
    - uses: actions/checkout@v3
      with:
        repository: 'probonopd/uploadtool'

    - uses: actions/download-artifact@master
      with:
       name: Win32
       path: build

    - uses: actions/download-artifact@master
      with:
        name: Accuracy Report

    - name: Upload Continuous Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        UPLOAD_KEY: ${{ secrets.UPLOAD_KEY }}
      run: |
        ./upload.sh \
          build/ISLE.EXE \
          build/LEGO1.DLL \
          ISLEPROGRESS.* \
          LEGO1PROGRESS.*

        curl -X POST -F key=$UPLOAD_KEY -F 'file=@ISLEPROGRESS.SVG' https://legoisland.org/progress/
        curl -X POST -F key=$UPLOAD_KEY -F 'file=@LEGO1PROGRESS.SVG' https://legoisland.org/progress/
