name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/checkout@v3
      with:
        repository: 'itsmattkc/msvc420'
        path: msvc420

    - name: Restore cached DX5 SDK
      id: cache-dx5
      uses: actions/cache/restore@v3
      with:
        path: dx5sdk
        key: dx5sdk

    - name: Download DX5 SDK
      if: ${{ !steps.cache-dx5.outputs.cache-hit }}
      run: |
        cd dx5sdk
        curl -fLOSs https://archive.org/download/idx5sdk/idx5sdk.exe
        7z x .\idx5sdk.exe
        7z x .\DX5SDK.EXE

    - name: Cache DX5 SDK
      if: ${{ !steps.cache-dx5.outputs.cache-hit }}
      uses: actions/cache/save@v3
      with:
        path: dx5sdk
        key: dx5sdk

    - name: Setup DX5 SDK
      run: |
        cd dx5sdk
        cd cdrom
        .\SETUP.EXE /s

    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.13
      with:
        # Use 2.8 for maximum backwards compatibility
        cmake-version: '2.8.x'

    - name: Build
      shell: cmd
      run: |
        call .\msvc420\bin\VCVARS32.BAT x86
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -G "NMake Makefiles"
        cmake --build .

    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: Win32
        path: |
          build/ISLE.EXE
          build/ISLE.PDB
          build/LEGO1.DLL
          build/LEGO1.PDB
          
  compare:
    needs: build
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@master

    - uses: actions/download-artifact@master
      with:
       name: Win32
       path: build

    - name: Restore cached original binaries
      id: cache-original-binaries
      uses: actions/cache/restore@v3
      with:
        path: legobin
        key: legobin

    - name: Download original island binares
      if: ${{ !steps.cache-original-binaries.outputs.cache-hit }}
      run: |
        C:\msys64\usr\bin\wget.exe https://legoisland.org/download/ISLE.EXE --directory-prefix=legobin
        C:\msys64\usr\bin\wget.exe https://legoisland.org/download/LEGO1.DLL --directory-prefix=legobin

    - name: Cache original binaries
      if: ${{ !steps.cache-original-binaries.outputs.cache-hit }}
      uses: actions/cache/save@v3
      with:
        path: legobin
        key: legobin

    - name: Summarize Accuracy
      shell: bash
      run: |
        pip install -r tools/reccmp/requirements.txt
        python3 tools/reccmp/reccmp.py -S ISLEPROGRESS.SVG --svg-icon tools/reccmp/isle.png -H ISLEPROGRESS.HTML legobin/ISLE.EXE build/ISLE.EXE build/ISLE.PDB . | tee ISLEPROGRESS.TXT
        python3 tools/reccmp/reccmp.py -S LEGO1PROGRESS.SVG -T 1929 --svg-icon tools/reccmp/lego1.png -H LEGO1PROGRESS.HTML legobin/LEGO1.DLL build/LEGO1.DLL build/LEGO1.PDB . | tee LEGO1PROGRESS.TXT

    - name: Compare Accuracy With Current Master
      shell: bash
      run: |
        # Compare with current master
        curl -fLSs -o ISLEPROGRESS-OLD.TXT https://github.com/isledecomp/isle/releases/download/continuous/ISLEPROGRESS.TXT
        curl -fLSs -o LEGO1PROGRESS-OLD.TXT https://github.com/isledecomp/isle/releases/download/continuous/LEGO1PROGRESS.TXT

        diff -u ISLEPROGRESS-OLD.TXT ISLEPROGRESS.TXT || true
        diff -u LEGO1PROGRESS-OLD.TXT LEGO1PROGRESS.TXT || true
      
    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: Accuracy Report
        path: |
          ISLEPROGRESS.*
          LEGO1PROGRESS.*
          
  upload:
    needs: [build, compare]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    steps:
    - uses: actions/checkout@v3
      with:
        repository: 'probonopd/uploadtool'
    
    - uses: actions/download-artifact@master
      with:
       name: Win32
       path: build
       
    - uses: actions/download-artifact@master
      with:
        name: Accuracy Report
        
    - run: sudo apt install -y librsvg2-bin
       
    - name: Upload Continuous Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # Convert SVGs to PNG        
        rsvg-convert -w 512 -h 384 ISLEPROGRESS.SVG -o ISLEPROGRESS.PNG
        rsvg-convert -w 512 -h 384 LEGO1PROGRESS.SVG -o LEGO1PROGRESS.PNG

        ./upload.sh \
          build/ISLE.EXE \
          build/LEGO1.DLL \
          ISLEPROGRESS.* \
          LEGO1PROGRESS.*
