name: Naming

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  ncc:
    name: C++
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: '16'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Setup Python modules
        run: |
          pip install -r tools/requirements.txt

      - name: Run ncc
        run: |
          action_headers=$(find LEGO1/lego/legoomni/include/actions \
            -name '*.h' -print0 | xargs -0 echo)

          python3 tools/ncc/ncc.py \
            --clang-lib ${{ env.LLVM_PATH }}/lib/libclang.so \
            --recurse \
            --style tools/ncc/ncc.style \
            --skip tools/ncc/skip.yml \
            --definition WINAPI FAR BOOL CALLBACK HWND__=HWND \
            --include \
              util \
              LEGO1 \
              LEGO1/omni/include \
              LEGO1/lego/legoomni/include \
              LEGO1/lego/sources \
            --exclude \
              LEGO1/omni/include/flic.h \
              LEGO1/omni/src/video/flic.cpp \
              $action_headers \
            --path LEGO1/omni LEGO1/lego/legoomni
